/* Обнуление*/
@font-face {
    font-family: "Inter";
    src: url('../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: #D9D9D9;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a {
    color: #122AC0;
    font-weight: 500;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*-------------------- */
/* 
body {
    background-color: #D9D9D9;
    padding: 0;
    margin: 0;
} */

.container {
    /* padding: 0 15px; */
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container__section {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.separator {
    background: #000000;
    width: 100%;
    height: 3px;
    /* margin: 20px 0; */
}

.example-data__item {
    background: #D9D9D9;
    width: 100%;
    height: 170px;
}

/* comments */

.comment {
    display: grid;
    column-gap: 18px;
    row-gap: 10px;
    grid-template-areas: 
        "avatar header"
        "body body"
        "footer footer"
        "answers answers";
}

.comment__avatar {
    width: 61px;
    height: 61px;
    border-radius: 30px;
    background-position: center;
    grid-area: avatar;
}

.comment__header {
    grid-area: header;
    display: flex;
    gap: 10px;
    font-size: 18px;
}

.comment__body {
    grid-area: body;
    font-size: 18px;
}

.comment__footer {
    display: flex;
    gap: 15px;
    grid-area: footer;
}

.comment__answers {
    grid-area: answers;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }

    .container__section {
        padding: 0 86px;
    }

    .comment {
        grid-template-areas:
            "avatar header"
            "avatar body"
            /* ". body" */
            ". footer"
            ". answers"
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }


}

/* header */

.header {
    display: flex;
    gap: 50px;
}

.header__item {
    gap: 5px;
}

.text__secondary {
    color: #000000;
    opacity: 0.4;
}

.font-medium {
    font-weight: 500;
}

.text-20 {
    font-size: 20px;
}

.underline {
    text-decoration: underline;
}

.icon {
    all: unset;
    content: " ";
    display: inline-block;
    vertical-align: text-bottom;
}

.icon__favorites {
    background-image: url('../svg/favorites.svg');
    width: 22px;
    height: 21px;
}

.icon__dropdown {
    /* background-image: url('../svg/dropdown.svg'); */
    box-sizing: border-box;
    width: 13px;
    height: 0px;
    border-style: solid;
    /* border: 3px 3px 0 3px solid #000000; */
    border-width: 11.3px 6.5px 0 6.5px;
    border-color: #000000 transparent transparent transparent;
    /* transform: rotate(90deg); */
}

.icon__answer {
    width: 25px;
    height: 25px;
    background-image: url('../svg/answer.svg');
}

.icon__in-favorites {
    width: 24px;
    height: 24px;
    background-image: url('../svg/in_favorites.svg');
}

.icon__not-in-favorites {
    width: 24px;
    height: 24px;
    background-image: url('../svg/not_in_favorites.svg');
}